/* TODO: APIfy these classes */
.LikeLines.player {
	display: inline-block;
}
iframe.LikeLines.video {
	border: none;
}
.LikeLines.controls {
	background: url('../images/sun20x20.png') 0px 1px no-repeat;
	/*position: relative;*/
	padding-top: 1px; /* prevent margin collapse */
	text-align: center;
}
.LikeLines.video, .LikeLines.heatmap, .LikeLines.markersbar {
	margin-left: 22px; /* align with eachother */
}
.LikeLines.heatmap {
	cursor: pointer;
	
	border-style: solid;
	border-color: black;
	border-width: 2px;
	
	height: 16px;
	margin-top: 0px;
	
	background-color: white;
}

.LikeLines.markersbar {
	margin-top: 1px;
	margin-bottom: 10px;
	
	position: relative;
	height: 10px;
}

.LikeLines.markersbar .marker {
	position: absolute;
	background: url('../images/sun10x10.png') no-repeat;
	width: 10px;
	height: 10px;
	cursor: pointer;
}

.LikeLines.markersbar .positionmarker {
	position: absolute;
	background: black;
	width: 2px;
	height: 10px;
	z-index: 9;
}


.LikeLines.like {
	background: url('../images/sun20x20bw.png') #F0F0F0 2px no-repeat;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 25px;
	
}
.LikeLines.like:hover {
	background: url('../images/sun20x20.png') #F0F0F0 2px no-repeat;
}

/* DEBUG */
/*
.LikeLines.player {
	background-color: gray;
}
*/