body {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: #b1c0fb;
}
header {
	width: 100%;
	max-width: 60em;
	margin-left: auto;
	margin-right: auto;
}
header .logo {
	vertical-align: middle;
}
header h1 {
	display: inline;
	vertical-align: middle;
	text-align: left;
	font-style: italic;
	/* stretch */
	transform: scale(0.9,1.2);
	-webkit-transform: scale(0.9,1.2); /* Safari and Chrome */
	-moz-transform: scale(0.9,1.2); /* Firefox */
	-ms-transform: scale(0.9,1.2); /* IE */
	-o-transform: scale(0.9,1.2); /* Opera */
}

header .tagline {
	text-align: right;
	position: relative;
	text-align: right;
	font-style: italic;
	margin: 10px;
}

.logoheatmap {
	display: block;
	height: 5px;
	margin: 5px -5px;
	padding: 0px;
	border: black solid 1px;
	background: #ffee02; /* Old browsers */
	background: -moz-linear-gradient(left,  #ffee02 0%, #ff0202 57%, #ff0202 67%, #febf01 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffee02), color-stop(57%,#ff0202), color-stop(67%,#ff0202), color-stop(100%,#febf01)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #ffee02 0%,#ff0202 57%,#ff0202 67%,#febf01 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #ffee02 0%,#ff0202 57%,#ff0202 67%,#febf01 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #ffee02 0%,#ff0202 57%,#ff0202 67%,#febf01 100%); /* IE10+ */
	background: linear-gradient(to right,  #ffee02 0%,#ff0202 57%,#ff0202 67%,#febf01 100%); /* W3C */
}

section {
	width: 100%;
	margin-top: 3em;
	max-width: 60em;
	margin-left: auto;
	margin-right: auto;
}

#videodemo {
	display: block;
	margin: 20px auto 50px auto;
}

.button {
	color: white;
	background-color: #444488;
	border: 2px solid #000088;
	font-weight: bold;
	font-size: large;
	text-decoration: none;
	text-align: center;
	padding: 2ex;
	border-radius: 10px;
	-moz-border-radius: 10px;
}
a.button:hover {
	background-color: #8E8EC4;
}
p.livedemo {
	text-align: center;
}

#footer {
	border-top: 2px black solid;
	clear: both;
	vertical-align: top;
	text-align: justify;
}

#footer > * {
	display: inline-block;
	vertical-align: middle;
}

#footer img {
	border: 0;
}

#footer:after {
    display:inline-block;
    width:100%;
    height: 0px;
    content:'';
}
